<h1>Listando Anúncios</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Imagem</th>
            <th>Titulo</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%  @ads.each do |ad| %>
        <tr>
            <td scope="row"><%= ad.id %></td>
            <td><%= image_tag ad.picture(:thumb) %></td>
            <td><%= ad.title %></td>
            <td><%= ad.category.description %></td>
            <td><%= humanized_money_with_symbol ad.price %></td>
            <td>
             <%= link_to edit_site_profile_ad_path(ad),
                class:"btn btn-primary btn-circle" do %>
                     <i class="fa fa-edit"></i>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>